*{
    user-select: none;
    -webkit-user-select: none;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: #27272a;
    font-family: "Roboto", sans-serif;
    color: white;
}

.app-main{
    display: flex;
    width: 100%;
}

.table-section-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
